link(rel='stylesheet', href='../stylesheets/smoothness/jquery-ui-1.10.3.custom.css')
script(src='../javascripts/libraries/jquery-1.9.1.js')
script(src='../javascripts/libraries/jquery-ui-1.10.3.custom.js')